<!DOCTYPE html>
<html lang="en">
	<head>
		<script
			src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"
			type="text/javascript"
		></script>
		<link rel="shortcut icon" type="image/png" href="/images/duck.png" />
		<script
			src="https://kit.fontawesome.com/d58f874dae.js"
			crossorigin="anonymous"
		></script>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/css/style.css" />
		<title>Mama Duck</title>
	</head>

	<body>
		<header>
			<nav class="navbar">
				<a href="" class="title"
					>MAMA<span class="title-color">DUCK</span></a
				>
			</nav>
		</header>
		<section>
			<div class="login-page">
				<div class="form">
					<form class="register-form" action="/admin">
						<input type="text" placeholder="Userame" />
						<input type="password" placeholder="Password" />
						<input type="text" placeholder="Email" />
						<button>create</button>
						<p class="message">
							Already registered? <a href="#">Sign In</a>
						</p>
					</form>
					<form class="login-form" action="/admin">
						<input type="text" placeholder="Username" />
						<input type="password" placeholder="Password" />
						<button>login</button>
						<p class="message">
							Not registered? <a href="#">Create an account</a>
						</p>
					</form>
				</div>
			</div>
		</section>
	</body>
	<script src="/js/form.js"></script>
</html>
