<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="shortcut icon" type="image/png" href="/images/duck.png" />
		<script
			src="https://kit.fontawesome.com/d58f874dae.js"
			crossorigin="anonymous"
		></script>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/css/style.css" />
		<title>Mama Duck</title>
	</head>

	<body>
		<header>
			<nav class="navbar">
				<a href="" class="title"
					>MAMA<span class="title-color">DUCK</span></a
				>
			</nav>
		</header>
		<section>
			<div class="main-image">
				<img src="/images/duck.png" width="300" height="285" />
			</div>
			<div class="container">
				<button class="btn">
					<a href="/Nodos">Nodos</a>
				</button>
				<button class="btn">
					<a href="/Historial">Historial</a>
				</button>
			</div>
		</section>
	</body>
</html>
