<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="shortcut icon" type="image/png" href="/images/duck.png" />
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<script src="https://d3js.org/d3.v4.min.js"></script>
		<link rel="stylesheet" href="/css/style.css" />
		<title>Mama Duck</title>
	</head>
	<body>
		<header>
			<nav class="navbar">
				<a href="/" class="title"
					>MAMA<span class="title-color">DUCK</span></a
				>
			</nav>
		</header>
		<div class="canvas-container">
			<canvas id="network" width="2000" height="580"></canvas>
		</div>
		<script src="/js/nodes.js"></script>
	</body>
</html>
