<div class="historial">
			<table id="table">
				<thead>
					<tr>
						<th colspan="7">Historial de Llamadas</th>
					</tr>
				</thead>
					<tr class="header-table">
						<th>Fecha</th>
						<th>Hora</th>
						<th>Lugar</th>
						<th>Emergencia</th>
						<th>Necesidad</th>
						<th>Mensaje</th>
						<th>Estado de Nodos</th>
					</tr>
				<body>
					<tr>
						<td>4/29/2020</td>
						<td>13:21</td>
						<td>Galerias</td>
						<td>Terremoto</td>
						<td>Evacuacion</td>
						<td>Atrapado debajo de un mueble</td>
						<td rowspan="2" class="nodes">
							<span class="dot"></span>
							Nodo Madre <br />
							<span class="dot"></span> 
							Nodo 1 <br />
							<span class="dot"></span> 
							Nodo 2 <br />
							<span class="dot-bad"></span> 
							Nodo 3
						</td>
					</tr>
					<tr>
						<td>4/29/2020</td>
						<td>13:21</td>
						<td>Galerias</td>
						<td>Terremoto</td>
						<td>Evacuacion</td>
						<td>Atrapado debajo de un mueble</td>
					</tr>
					<tr>
						<td>4/29/2020</td>
						<td>13:21</td>
						<td>Galerias</td>
						<td>Terremoto</td>
						<td>Evacuacion</td>
						<td>Atrapado debajo de un mueble</td>
						<td>
							<button class="desconectar">
								<a href="#">Desconectar Red</a>
							</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
      <div>
			<table id="table2">
				<tfoot>
					<td id="home"><button class="home"><a href="/profile">Home</a></button></td>
					<td id="nodos"><button class="nodos"><a href="/nodes">Nodos</a></button></td>
					<td id="menu"></td>
					<td id="menu"></td>
					<td id="menu"></td>
					<td id="menu"><button class="actualizar">
						<a href="/history">Actualizar</a>
					</button><button class="conectar">
						<a href="#">Conectar</a>
					</button>
					</td>
				</tfoot>
			</table>
		</div>