<div class="col-md-4 mx-auto">
    <div class="card">
        <div class="card-body">
            <form action="/admin/edit/{{admin.id}}" method="POST">
                <div class="form-group">
                    <input type="text" name="fullname" class="form-control" placeholder="Fullname" value="{{admin.fullname}}" autofocus>
                </div>
                <div class="form-group">
                    <input type="text" name="username" class="form-control" placeholder="Username" value="{{admin.username}}">
                </div>
                {{!-- <div class="form-group">
                    <input type="password" name="password" rows="2" class="form-control" placeholder="Password"></input>
                </div> --}}
                <div class="form-group">
                    <button class="btn btn-success btn-block">
                        Save
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>